/* Hero Section Styles */

.hero-section {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    background-color: #1e1e1e; /* Background color */
    color: #ffffff; /* Text color */
    position: relative;
    overflow: hidden;
    text-transform: capitalize; /* Capitalize text */
}

.hero-content {
    z-index: 2;
    margin: 50px auto 0; /* Center the content horizontally and add top margin */
    max-width: 1200px; /* Maximum content width */
    padding: 0 20px; /* Padding for small screens */
}

.hero-title {
    font-size: 30px; /* Adjusted for responsiveness */
    font-weight: 700;
    margin-bottom: 10px; /* Space below the title */
}

.name {
    font-size: 3rem; /* Adjusted for responsiveness */
    font-weight: 600;
    margin-bottom: 10px; /* Space below the name */
}

.job {
    font-size: 25px; /* Adjusted for responsiveness */
    font-weight: 400;
    margin-bottom: 20px; /* Space below the job title */
}

.hero-subtitle .highlight {
    color: #ff7e5f;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-button {
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px; 
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: 0.5s; 
    gap: 10px; 
    border: 2px solid white;
    width: auto; /* Adjust width based on content */
    height: auto; /* Adjust height based on content */
}

.hero-button:hover {
    background-color: #ffff;
    color: #ff6f4f;
    border: none;
}

.button-icon {
    font-size: 20px; /* Size of the icon */
}

.btns .hero-button.contact {
    background-color: #ff6f4f; /* New background color */
    color: #ffffff; /* New text color */
    border: none;
    transition: 0.6s;
}

.btns .hero-button.contact:hover {
    color: #ff6f4f; 
    background-color: #ffffff;
}

.icon-spacing {
    margin-left: 10px; 
}

.hero-img-container {
    position: relative;
    z-index: 2;
    text-align: center; /* Center image container on mobile */
}

.hero-image {
    max-width: 50%; 
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 2;
    margin-top: 50px;
}

.links-container {
    margin-top: 40px;
}

.wave-icon {
    display: inline-block;
    font-size: 2.8rem; /* Larger emoji for emphasis */
    animation: wave 2s infinite;
}

.story {
    line-height: 1.6;
    color: #b0b0b0;
}

@media (max-width: 1200px) {
    .hero-section {
        padding-top: 120px;
        height: auto; /* Adjust height for smaller screens */
    }

    .hero-content {
        max-width: 100%; /* Ensure content width does not exceed viewport */
        padding: 0 20px; /* Add padding to content */
        text-align: center; /* Center text */
        margin-top: 50px; /* Adjust margin-top for smaller screens */
    }

    .hero-img-container {
        display: none; /* Hide the image on screens <= 1200px */
    }

    .hero-title {
        font-size: 26px; /* Smaller title for medium screens */
    }

    .name {
        font-size: 2.5rem; /* Smaller name font size for medium screens */
    }

    .job {
        font-size: 22px; /* Smaller job title font size */
    }

    .btns {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons */
        gap: 20px; /* Adjust gap between buttons */
    }
}

@media (max-width: 992px) {
    .hero-section {
        padding: 120px 1rem 180px 1rem; 
    }

    .hero-content {
        padding: 0 10px; /* Adjust padding for smaller screens */
        margin-top: 50px; /* Adjust margin-top for smaller screens */
    }

    .hero-title {
        font-size: 22px; /* Adjust title font size */
    }

    .name {
        font-size: 2rem; /* Adjust name font size */
    }

    .job {
        font-size: 20px; /* Adjust job title font size */
    }

    .btns {
        gap: 15px; /* Adjust gap between buttons */
    }
}

@media (max-width: 768px) {
    .story {
        font-size: 14px;
        line-height: 1.8;
        color: #aaa9a9;
    }

    .hero-title {
        font-size: 20px;
    }

    .wave-icon {
        font-size: 35px;
    }

    .hero-subtitle .name {
        font-size: 30px;
        font-weight: 700;
    }

    .job {
        font-size: 18px;
        margin-top: 15px; /* Add margin-top for spacing between job and name */
    }

    .hero-button {
        font-size: 18px;
        font-weight: 600;
    }

    .hero-content {
        text-align: center;
        margin-top: 50px; /* Adjust margin-top for smaller screens */
    }

    .btns {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
