/* Container Styling */
.project-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 20px 0 0 0;
    background: #1e1e1e;
    padding-bottom: 50px;
    padding-top: 100px;
    
  }
  
  /* Project Details Section */
  .project-details {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
  }
  
  /* Project Content Layout */
  .project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Project Image */
  .project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Project Info */
  .project-info {
    margin-bottom: 20px;
  }
  
  .project-title {
    font-size: 2rem;
    color: #333;
    margin: 0;
  }
  
  .project-description {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 20px 0;
  }
  
  /* Project Technologies */
  .project-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .tech-tag {
    background: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
  }
  
  .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .link-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Adjust color as needed */
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .link-button .icon {
    font-size: 30px;
    margin-top: 15px;
    color: #ff6f4f;
  }
  
  .link-button:hover {
    color: #ff6f4f; /* Adjust hover color as needed */
  }
  
  @media (max-width: 768px) { /* Adjust this breakpoint as needed */
    .link-button span {
      display: none; /* Hide the text on smaller screens */
    }
    .project-details-container {
   margin-top: 20px;
    }
    .project-description {
      font-size: 14px;
    
    }
  }
  
  
